<main class="flex-shrink-0">
    <div class = "container" id="home-container">
        <div class="p-5 bg-dark text-white text-center jumbotron rounded">
            <h1 class="display-4">Alpha Blog</h1>
            <p class="lead">Sample text</p>
            <hr class="my-4">
            <p>Another text</p>
            <a class ="btn btn-success btn-lg" href="#" role="button">Sign Up!</a>
        </div>
    </div>
</main>