<footer id="sticky-footer" class="footer mt-auto py-3 bg-dark text-white text-center">
<div class="container">
    <span>Copyright &copy; <%= link_to "Wiliam Darmawan", "https://github.com/wiliamdarmawan", class: "text-white" %> </span>
</div>
</footer>